* {
    box-sizing: border-box;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
}

html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

body > * {
    flex: 1 1 0;
    width: 100%;
}

#rpsButtons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #784022;
}

#rpsButtons > * {
    width: 90px;
    height: 90px;
    background-color: #9f5508;
    color: #eecebd;
    border-radius: 30px;
    border: none;
}

#humanScore {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #884022;
    color: #eecebd;
    font-size: 80px;
}
#computerScore {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8f5508;
    color: #eecebd;
    font-size: 80px;
}

#winner {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #9f5508;
    color:#eecebd;
    font-size: 30px;
}